<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Declinación</title>
  <link rel="stylesheet" href="../templates/style.css">

</head>

<body>
  <p class="auxtitle"><b>Declinación</b></p>
  <div class="row">
    <div class="container">
      <nav style="border:1px solid #BEBDBD; border-width:2px;">
        <a class="auxtext" href="../index.html">Datos históricos</a>
        <br>
        <a class="auxtext" href="./about.html">Acerca de</a>
        <br>
        <p class="auxtext"><b>Campo:</b></p>
        <select id="camp" name="camp" onchange="selectPlot()">

          {% for i in camps %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}

        </select>
        <hr>
        <a class="auxtext"
          href="http://www.anh.gov.co/estadisticas-del-sector/sistemas-integrados-operaciones/estad%C3%ADsticas-producci%C3%B3n">
          Datos de la ANH.</a>
      </nav>
    </div>
    <div class="column">
      <div>

        {% for i in camps %}
        {% if i == camps[0] %}
        <div class="myImage" id="{{ i }}" style="display:block"> <img src="./assets/{{ i }}.png" alt="{{ i }}"> </div>
        {% else %}
        <div class="myImage" id="{{ i }}" style="display:none"> <img src="./assets/{{ i }}.png" alt="{{ i }}"> </div>
        {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>

  <script src="./templates/script.js"></script>
</body>

</html>